.card {
    overflow: auto;
    background-color: lightblue;
    height: 10em;
    margin: 10px;
    padding: 30px;
    width: 90%;
    float: left;
    border-radius: 3px;
    box-shadow: 5px 5px 10px;
}

img {
    float: left;
}   

p {
    margin-left: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, 
}